#top-shell{
  background-color: #EAF6F6;
}
.top-container{
  margin-top: 0;
  background-color: #EAF6F6;
  padding: 100px;
}

.first-cloud{
  position: absolute;
  right: 300px;
  top: 25px;

}

.second-cloud{
  position: absolute;
  bottom: 300px;
  left: 250px;
}

.mountain{
  width: 400px;
  height: 400px;
}

.profile-pic{
  width: 250px;
  height: 250px;
  border-radius: 100%;

}

.profile-intro{
   padding: 50px;
}

.intro-profile{
  width: 30%;
  margin: auto;
}
.middle-container{
   padding: 60px 0;
}

.computer{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.comp-image{
  width: 310px;
  height: 320px;
  border-radius: 10px 100px / 120px;
  float: right;
  padding: 30px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.MyRide{
   width: 310px;
   height: 320px;
   border-radius: 10px 100px / 120px;
   float: left;
   padding: 30px;
}

.skill-food{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.food-GIF{
  width: 310px;
  height: 320px;
  border-radius: 10px 100px / 120px;
  float: right;
  padding: 30px;
}

.self-defence{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.krav-GIF{
  width: 310px;
  height: 320px;
  border-radius: 10px 100px / 120px;
  float: left;
  padding: 30px;
}

.contact-me{
  width: 60%;
  text-align: center;
  margin: 100px auto 60px;
}

.contact-message{
  margin: 40px auto 60px;
  width: 50%;
}

.btn {
  background: #37e8df;
  background-image: -webkit-linear-gradient(top, #37e8df, #1775b0);
  background-image: -moz-linear-gradient(top, #37e8df, #1775b0);
  background-image: -ms-linear-gradient(top, #37e8df, #1775b0);
  background-image: -o-linear-gradient(top, #37e8df, #1775b0);
  background-image: linear-gradient(to bottom, #37e8df, #1775b0);
  -webkit-border-radius: 48;
  -moz-border-radius: 48;
  border-radius: 48px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #c1d1c3;
  background-image: -webkit-linear-gradient(top, #c1d1c3, #69dbd5);
  background-image: -moz-linear-gradient(top, #c1d1c3, #69dbd5);
  background-image: -ms-linear-gradient(top, #c1d1c3, #69dbd5);
  background-image: -o-linear-gradient(top, #c1d1c3, #69dbd5);
  background-image: linear-gradient(to bottom, #c1d1c3, #69dbd5);
  text-decoration: none;
}

.bottom-container{
  background-color: #bbbfca;
  text-align: center;
  padding: 50px 0 20px;
}

.footer-link{
  color: #495464;
  text-decoration: none;
  width: 32px;
  border-radius: 25px;
  height: 32px;
}

.copyright{
  color: #495464;
  font-size: 0.75rem;
  background-color: #bbbfca;
  padding-top: 20px;
  margin: 0px;
}

#github{
  width: 32px;
  border-radius: 8px;
  height: 32px;
  background-color: black;
  margin-right: 15px;
}

body{
  margin: 0;
  text-align: center;
}

h1{
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
}

h2{
  color: #66BFBF;
  font-family: 'Megrim', cursive;
}

h3{
  font-family: 'Pacifico', cursive;
}

p{
  font-family: 'Roboto', sans-serif;
  color: #839b97;
  line-height: 2;
}

hr{
  width: 6%;
  border: dotted #a4b787 6px;
  border-bottom: none;
  margin: 60px auto;
}

a:hover{
  color: #e8e8e8;
}
